@model TraversalCoreProje.Areas.Member.Models.UserEditViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h1>Profile</h1>
<form method="post" enctype="multipart/form-data">
    @Html.Label("Your name")
    <input type="text" asp-for="FirstName" class="form-control"/>
    <br />
    @Html.Label("Last Name")
    <input type="text" asp-for="LastName" class="form-control" />
    <br />
    @Html.Label("Email")
    <input type="text" asp-for="mail" class="form-control" />
    <br />
    @Html.Label("password")
    <input type="text" asp-for="password" class="form-control" />
    <br />
    @Html.Label("Password repeat")
    <input type="text" asp-for="confirmPassword" class="form-control" />
    <br />
    @Html.Label("Phone number")
    <input type="text" asp-for="phonenumber" class="form-control" />
    <br />
    <div class="form-group">
        <label>Resim seçin</label>
        <input type="file" asp-for="Image"/>
    </div>
    <br />
    <button class="btn btn-primary">Update</button>
</form>

